body {
h1 {
  color:#13293D;
   font-family: "Lucida Console", "Courier New", monospace; }
body{
  background-color: #404E4D
}
img:hover {
  width:500x;
height:500px
}
}
nav {
  list-style-type: none;
  width: 100%;
  background-color: lightblue;
  position: fixed
}
li a {
  text-decoration: none;
  display: block;
  padding: 25px 40px;
  float: left;
}
li a:hover {
  background-color: grey
}
