h1 {
  color:#13293D;
   font-family: "Lucida Console", "Courier New", monospace; 
letter-spacing: 2px
}
body{
  background-color: grey
}
img: {
  width:500px;
border-radius: 10px
}

nav {
  list-style-type: none;
  width: 100%;
  background-color: lightblue;
  position: fixed
}
li a {
  text-decoration: none;
  display: block;
  padding: 25px 40px;
  float: left;
}
li a:hover {
  background-color: grey
  color: tan
}
h2 {
  color:#D3B88C;
   font-family: 'Bungee'; 
letter-spacing: 2px
